<div class="container-fluid background">
    <div class="row mt-5">        
        <div class="offset-md-3 col-md-6 conteudo p-5">
            <div class="row justify-content-center">
                <h1>Pizzaria do Alto</h1>
            </div>
            <div class="row justify-content-center">
                <p>Bem-vindo!</p>
            </div>
            <div class="row mb-2">
                <button mat-raised-button color="primary" class="col-12" (click)="openCardapio()">Cardápio</button>
            </div>
            <div class="row mb-2">
                <button mat-raised-button color="primary" class="col-12" (click)="openCadastro()">Se cadastrar</button>
            </div>
            <div class="row mb-2">
                <button mat-raised-button color="primary" class="col-12" (click)="showEntrar=!showEntrar">Entrar</button>
            </div>
            <div class="row mb-2 conteudo-branco justify-content-center" *ngIf="showEntrar">
                <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
                    <div class="row m-2">
                        <mat-form-field>
                          <mat-label>CPF</mat-label>
                          <input matInput placeholder="digite seu CPF" name="cpf" ngModel required>
                        </mat-form-field>
                    </div>
                    <div class="row m-2">
                        <mat-form-field>
                          <mat-label>Senha</mat-label>
                          <input matInput placeholder="digite sua senha" type="password" name="senha" ngModel required>
                        </mat-form-field>
                    </div>
                    <div class="row mb-2">
                        <button mat-raised-button color="primary" class="col-12" type="submit" [disabled]="!loginForm.form.valid">Confirmar</button>
                    </div>
                    <div class="row mb-2 alert alert-danger" *ngIf="invalidUser">
                        Usuário inválido
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
